<center>
  <span class="menu" ><a class="menu" href="/bar">Cases Bar</a></span>
  <span class="menu" ><a class="menu" href="/line">Cases Lines</a></span>
  <span class="menu" ><a class="menu" href="/averagebar">Average Bar</a></span>
  <span class="menu" ><a class="menu" href="/averageline">Average Lines</a></span>
  <span style="float:clear;"></span>
</center>
