<center>
  <div class="menu" ><a class="menu" href="/bar">Cases Bar</a></div>
  <div class="menu" ><a class="menu" href="/line">Cases Lines</a></div>
  <div class="menu" ><a class="menu" href="/current">Current Lines</a></div>
  <div class="menu" ><a class="menu" href="/probes">Probes Lines</a></div>
  <div class="menu" ><a class="menu" href="/averagebar">Average Bar</a></div>
  <div class="menu" ><a class="menu" href="/averageline">Average Lines</a></div>
  <div style="float:clear;"></div>
</center>
