<p>
  <!-- <div class="menu" ><a class="menu" href="/bar">Cases Bar</a></div> -->
  <div class="menu" >[<a class="menu" href="/">Startseite</a>] </div>
  <div class="menu" >[<a class="menu" href="/view/charts/cases">Cases Lines</a>] </div>
  <div class="menu" >[<a class="menu" href="/view/charts/current">Current Lines</a>] </div>
  <div class="menu" >[<a class="menu" href="/view/charts/probes">Probes Lines</a>] </div>
  <!-- <div class="menu" ><a class="menu" href="/averagebar">Average Bar</a></div> -->
  <div class="menu" >[<a class="menu" href="/view/charts/average">Average Line</a>] </div>
  <div class="menu" >[<a class="menu" href="/klopapier">Klopapier DM Essen-Borbeck</a>] </div>
  <div style="float:clear;"></div>
</p>
